body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #2E2E2C;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #EBEBEB;
}

.header_container {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  display: flex;
}

.logo {
  margin: 0px 50px;
}

.logo_img {
  width: 100px;
  height: 100px;
}

/* Search */

.Search {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.Search input {
  width: 250px;
  height: 30px;
}

.Search form {
  position: relative;
}

.Search form button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.Search button {
  height: 30px;
}

/* Nav */

.Nav {
  margin-left: 50px;
}

.Nav ul {
  display: flex;
  height: 100px;
  align-items: center;
}

.Nav ul li {
  margin: 0 10px;
}

.Nav ul li  {
  font-size: 18px;
  font-weight: bold;
}

/* login */

.login {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

/*  */

.navbar {
  width: 100%;
  margin-top: 30px;
}

.navbar_conatainer {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navbar a {
  font-size: 22px;
  margin-right: 30px;
  font-weight: bold;
}

/* ItemList */

.book_table {
  margin-top: 50px;
}

.box {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.table1 {
  width: 70%;
  margin: 0 auto;
  table-layout: fixed;
  text-align: center;
  border: 1px solid black;
}

.table1 tr, th, td {
  border: 1px solid black;
}

.table1 {
  border: 1px solid black;
}


.table1 .td1 {
  width: 50px;
  text-align: center;
}

.td2 {
  width: 600px;
}

.td2:hover {
  font-weight: bold;
  background-color: beige;
}

.td3 {
  width: 200px;
}

.td4 {
  width: 100px;
}

/* Name */

.bookpage {
  border: 1px solid red;
  margin-top: 80px;
  width: 100%;
  text-align: center;
}

.bookpage_container {
  width: 60%;
  border: 1px solid blue;
  margin: 0 auto;
}

/* bookpage */


.bookname h4 {
  color: #595959;
}

.bookimg {
  margin-top: 50px;
}

.story {
  margin: 50px 0;
}

.sub_story {
  width: 70%;
  margin: 0 auto;
  line-height: 30px;
  letter-spacing: 0.1;
}

.notice {
  margin-bottom: 50px;
}

.notice ul {
  width: 20%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.notice ul li {
  width: 100%;
  text-align: left;
  font-size: 18px;
  margin: 20px 0;
}